site_name: Aiursoft Template Documentation
site_description: The official documentation for Aiursoft Project Template.

# Repository
repo_name: aiursoft/template-docs
repo_url: https://gitlab.aiursoft.com/aiursoft/template-docs
edit_uri: ""

use_directory_urls: true
docs_dir: .
theme:
  logo: Assets/logo.svg
  favicon: Assets/logo.svg
  font: false
  name: material
  language: en
  features:
    - content.code.annotate
    - content.code.select
    - content.code.copy
    # - content.tabs.link
    # - header.autohide
    # - navigation.expand
    # - navigation.indexes
    # - navigation.instant  # Incompatible with mkdocs-static-i18n language switcher
    - navigation.sections
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.top
    - navigation.footer
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
  search_index_only: true
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference

extra:
  alternate:
    - name: 简体中文
      link: /zh/
      lang: zh
    - name: English
      link: /en/
      lang: en
  homepage: https://template.aiursoft.com
  icon:
    annotation: material/arrow-right-circle 
    admonition:
      note: octicons/tag-16
      abstract: octicons/checklist-16
      info: octicons/info-16
      tip: octicons/squirrel-16
      success: octicons/check-16
      question: octicons/question-16
      warning: octicons/alert-16
      failure: octicons/x-circle-16
      danger: octicons/zap-16
      bug: octicons/bug-16
      example: octicons/beaker-16
      quote: octicons/quote-16

markdown_extensions:
  - md_in_html
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - abbr
  - pymdownx.snippets
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format

plugins:
  - i18n:
      docs_structure: folder
      fallback_to_default: true
      reconfigure_material: true
      languages:
        - locale: zh
          default: true
          name: 简体中文
          build: true
        - locale: en
          name: English
          build: true
          nav_translations:
            主页: Home
            欢迎: Welcome
            特性: Features
            视图开发实践: View Development Best Practices
            模型校验: Model Validation
            接收文件: File Upload
            渲染日期时间: DateTime Rendering
            实体建模规范: Entity Design Guidelines
            后台任务支持: Background Job Support
            升级指南: Upgrade Guide
            快速入门: Quick Start
            开始之前: Before Starting
            第一步 - 创建新项目: "Step 1 - Create a New Project"
            第二步 - 添加和调试第三方库: "Step 2 - Add and Debug Third-Party Libraries"
            第三步 - 添加全新的页面: "Step 3 - Add a New Page"
            第四步 - 添加全新的数据模型并改变数据库结构: "Step 4 - Add a New Data Model and Modify Database Structure"
            第五步 - 将数据保存到数据库: "Step 5 - Save Data to Database"
            第六步 - 管理员看板和全新的权限: "Step 6 - Admin Dashboard and New Permissions"
            第七步 - 增加全新的配置项目，并支持环境变量: "Step 7 - Add New Configuration Items with Environment Variable Support"
            第八步 - 添加自定义验证: "Step 8 - Add Custom Validation"
            第九步 - 允许用户在前端上传文件: "Step 9 - Allow Users to Upload Files from Frontend"
            第十步 - 软删除和回收站，基于后台任务: "Step 10 - Soft Delete and Recycle Bin Based on Background Tasks"
            第十一步 - 本地化应用以面向全球用户: "Step 11 - Localize Application for Global Users"
            第十二步 - 发布应用到真实的服务器: "Step 12 - Deploy Application to a Real Server"
            第十三步 - 课后练习: "Step 13 - After-Class Exercises"
            全局设置: "Global Settings"
  - offline
  - same-dir
  - search
  - minify:
      minify_html: true

# * [开始之前](./Tutorial/before.md)
# * [Step 1 - 创建新项目](./Tutorial/step1.md)
# * [Step 2 - 添加和调试第三方库](./Tutorial/step2.md)
# * [Step 3 - 添加全新的页面](./Tutorial/step3.md)
# * [Step 4 - 添加全新的数据模型并改变数据库结构](./Tutorial/step4.md)
# * [Step 5 - 将数据保存到数据库](./Tutorial/step5.md)
# * [Step 6 - 管理员看板和全新的权限](./Tutorial/step6.md)
# * [Step 7 - 增加全新的配置项目，并支持环境变量](./Tutorial/step7.md)
# * [Step 8 - 添加自定义验证](./Tutorial/step8.md)
# * [Step 9 - 允许用户在前端上传文件](./Tutorial/step9.md)
# * [Step 10 - 软删除和回收站，基于后台任务](./Tutorial/step10.md)
# * [Step 11 - 本地化应用以面向全球用户](./Tutorial/step11.md)
# * [Step 12 - 发布应用到真实的服务器](./Tutorial/step12.md)
# * [Step 13 - 课后练习](./Tutorial/step13.md)



nav:
  - 主页:
    - 欢迎: README.md
  - 特性:
    - 视图开发实践: Features/Views.md
    - 模型校验: Features/Validation.md
    - 接收文件: Features/SaveFile.md
    - 渲染日期时间: Features/DateTime.md
    - 实体建模规范: Features/EntityDesign.md
    - 全局设置: Features/GlobalSettings.md
    - 后台任务支持: Features/BackgroundJob.md
    - 升级指南: Features/UpgradeGuide.md
  - 快速入门:
    - 开始之前: Tutorial/before.md
    - 第一步 - 创建新项目: Tutorial/step1.md
    - 第二步 - 添加和调试第三方库: Tutorial/step2.md
    - 第三步 - 添加全新的页面: Tutorial/step3.md
    - 第四步 - 添加全新的数据模型并改变数据库结构: Tutorial/step4.md
    - 第五步 - 将数据保存到数据库: Tutorial/step5.md
    - 第六步 - 管理员看板和全新的权限: Tutorial/step6.md
    - 第七步 - 增加全新的配置项目，并支持环境变量: Tutorial/step7.md
    - 第八步 - 添加自定义验证: Tutorial/step8.md
    - 第九步 - 允许用户在前端上传文件: Tutorial/step9.md
    - 第十步 - 软删除和回收站，基于后台任务: Tutorial/step10.md
    - 第十一步 - 本地化应用以面向全球用户: Tutorial/step11.md
    - 第十二步 - 发布应用到真实的服务器: Tutorial/step12.md
    - 第十三步 - 课后练习: Tutorial/step13.md
